<div class="container">

<div class="row justify-content-center mt-5">
  <div class="col-sm-8">
      <form [formGroup]="standardForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col">
            <label><strong>Name</strong></label>
            <input class="form-control" type="text" formControlName="name" placeholder="ABNT PR" required>
          </div>

          <div class="form-group col">
            <label><strong>Code</strong></label>
            <input class="form-control" type="text" formControlName="code" placeholder="1004-3:2020" required>
          </div>
      </div>

      <div class="row">
        <div class="form-group col">
            <label><strong>Description</strong></label>
            <input class="form-control" type="text" formControlName="description" placeholder="Protocolo de retomada presencial segura nas organizações educacionais" required>
          </div>
      </div>

      <div class="row">
          <div class="form-group col">
            <label><strong>Publication</strong></label>
            <input class="form-control" type="text" formControlName="dtpublication" placeholder="23/02/2021" required>
          </div>

          <div class="form-group col">
            <label><strong>Model</strong></label>
            <input class="form-control" type="text" formControlName="model" placeholder="Interna ou Externa" required>
          </div>
      </div>

      <div class="row">
          <div class="form-group col">
            <label><strong>Business</strong></label>
            <input class="form-control" type="text" formControlName="business" placeholder="Educação" required>
          </div>
      </div>

      <div class="row">
          <div class="form-group col">
              <label><strong>Resume</strong></label>
              <textarea class="form-control" type="text" row="3" formControlName="resume" placeholder="Demonstrar como dar segurança, no retorno às aulas presenciais, para que os alunos, pais e responsáveis bem como os demais da comunidade escolar sejam preservados da contaminação e transmissão do SARS-Cov-2" required>
              </textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col">
            <label><strong>User</strong></label>
            <input class="form-control" type="text" formControlName="user" placeholder="Administrador" required>
          </div>

          <div class="form-group col">
            <label><strong>Email</strong></label>
            <input class="form-control" type="text" formControlName="email" placeholder="adm@adm.com" required>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Add Standard</button>
        </div>
      </form>

  </div>
</div>
</div>
